body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background: #e6e6e6;*/
  }
  .box{
    z-index: 200;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
  }
  .box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    top: 75%;
  }
  .box h2{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    top: 75%;
  }
  .box select{
    border:0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #fcfcfc;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: rgb(119, 119, 119);
    border-radius: 24px;
    transition: 0.25s;
  
  }
  .box input[type = "text"],.box input[type = "password"],.box input[type = "number"],.box input[type = "email"],.box input[type = "date"]{
    border:0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #fcfcfc;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #ff3333;
  }
  .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ff3333;
    padding: 14px 40px;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #ff3333;
  }
  
  