.cblanc1
{
 color: rgb(255, 255, 255);
 font-size: 90px;
 font-family:'Impact';
 font-weight : bold;
 text-shadow: 2px 2px 4px black;
 top: 30px; 
 width: 100%;
 position: absolute;
 text-align: center;
 
}

.cblanc2{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family:'Impact';
    text-shadow: 2px 2px 4px rgb(124, 113, 87);
    text-align:center;


}

.imageDeFond{
    background-attachment: fixed;
    background-position : center top;
    background-repeat: no-repeat;
    border: 5px rgb(92, 73, 10) inset;
}

a:active /* Quand le visiteur clique sur le lien */
{
    background-color: red;
}